header.navbar.navbar-expand-md.navbar-primary
    .container-xl.p-0
        button.navbar-toggler.text-white(type='button' data-toggle='collapse' data-target='#navbar-menu')
            span.navbar-toggler-icon

        a.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.pr-md-3(href='/')
            div
                img.m-3(src='/resources/images/logo-black.png' style='height: 52px;') 
            
        .navbar-expand-md
            - if menu.top
                .text-right.mb-2
                    - each item in menu.top
                        a.text-muted.ml-3(href=item.url)
                            span.nav-link-title= item.title

            #navbar-menu.navbar.collapse.navbar-collapse.mb-3
                .container-xl
                    ul.navbar-nav
                        - each item in menu.main
                            - if item.child == null
                                li.nav-item(class=item.class)
                                    a.nav-link(href=item.url target=item.target)
                                        - if item.icon
                                            span.mr-2(style="width: 20px; text-align: center;")
                                                i(class=item.icon)
                                        span.nav-link-title= item.title

                            - if item.child
                                li.nav-item.dropdown(class=item.class)
                                    a.nav-link.dropdown-toggle(role="button" data-bs-toggle="dropdown" aria-expanded="false")
                                        - if item.icon
                                            span.mr-2(style="width: 20px; text-align: center;")
                                                i(class=item.icon)
                                        span.nav-link-title= item.title

                                    ul.dropdown-menu.dropdown-menu-lg-end.mt-2(class=item.show)
                                        - each child in item.child
                                            li
                                                a.dropdown-item(href=child.url target=child.target class=child.class)= child.title

- if menu.sub
    .subnav.bg-primary-lt.text-center.p-3(style="overflow-x: auto; white-space: nowrap; max-width: 1280px; width: 100%; margin: 0 auto;")
        .container-xl.text-center
            - each item in menu.sub
                a.p-2.pr-4.pl-4(href=item.url target=item.target class=item.class style="color: #0ca678;")= item.title