aside.navbar.navbar-vertical.navbar-expand-lg.navbar-side
    .container
        .navbar-brand-container
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbar-menu')
                span.navbar-toggler-icon

            a.navbar-brand.p-0.m-0(href='/')
                .text-center
                    img.d-block.m-1.mt-0.mb-0(src='/resources/images/brand/dizest-hub-white.png' style="height: 32px;")

        #navbar-menu.navbar-collapse.collapse
            ul.navbar-nav
                - each menu in menu.main
                    - if menu.type == 'header'
                        li.nav-item.nav-item-header= menu.title
                    - else
                        - if menu.child == null
                            li.nav-item(class=menu.class)
                                .d-flex
                                    a.nav-link(href=menu.url target=menu.target)
                                        - if menu.icon
                                            span.nav-icon(style="width: 20px; text-align: center;")
                                                i(class=menu.icon)
                                        span.nav-link-title= menu.title
                                    
                                    .nav-indicator
                                        span.status-indicator.status-indicator-animated.status-primary
                                            span.status-indicator-circle
                                            span.status-indicator-circle
                                            span.status-indicator-circle

                        - else
                            li.nav-item.dropdown(class=menu.class)
                                .d-flex
                                    a.nav-link(href=menu.child[0]['url'] target=menu.child[0]['target'] class=menu.show)
                                        - if menu.icon
                                            span.nav-icon(style="width: 20px; text-align: center;")
                                                i(class=menu.icon)
                                        span.nav-link-title= menu.title

                                    .nav-indicator
                                        span.status-indicator.status-indicator-animated.status-primary
                                            span.status-indicator-circle
                                            span.status-indicator-circle
                                            span.status-indicator-circle

                                ul.dropdown-menu(class=menu.show)
                                    - each child in menu.child
                                        li
                                            - if child.type == 'header'
                                                span.dropdown-header= child.title
                                            - elif child.type == 'divider'
                                                div.dropdown-divider(style=child.style)
                                            - else
                                                a.dropdown-item(href=child.url target=child.target class=child.class)
                                                    - if child.icon
                                                        span.nav-icon(style="width: 20px; text-align: center;")
                                                            i(class=child.icon)
                                                    span= child.title
