doctype 5

html(ng-app="app")
    head
        {$ wiz.theme('dizest').layout('base').view('header.pug') $}
        
    body.antialiased.wiz-aside-page
        {$ wiz.theme('dizest').layout('aside').view('aside.pug') $}
        
        .wiz-content
            - if menu.top
                .wiz-top-menu
                    .ml-auto
                    - each item in menu.top
                        - if item.child == null
                            a.text-dark.ml-3(href=item.url)
                                - if item.icon
                                    i(class=item.icon)
                                - if item.title
                                    span.nav-link-title= item.title
                        - else
                            .dropdown.ml-3
                                .btn.btn-round.btn-outline-primary.dropdown-toggle(data-bs-toggle="dropdown" aria-expanded="false")
                                    - if item.icon
                                        i(class=item.icon)
                                    - if item.title
                                        span= item.title
                                ul.dropdown-menu.dropdown-menu-arrow.dropdown-menu-lg-end
                                    - each child in item.child
                                        li
                                            a.dropdown-item(href=child.url target=child.target class=child.class)= child.title
                    .mr-2
                    
            .wiz-view
                {$ view $}

        {$ wiz.theme('dizest').layout('base').view('onload.pug') $}