.container
    .main-card
        .text-area
            h2.text-title
                div= dic('intro1')
                div= dic('intro2')
                div= dic('intro3')
                    span.text-orange.ml-2 WIZ
            
            .text-description.mt-4
                div= dic('desc1')
                div= dic('desc2')
                div= dic('desc3')
                div= dic('desc4')
                
        .image-area.if-desktop
            img(src="/resources/images/computer.png")

    .row.row-deck.row-cards.mt-4
        .col-md-4.p-3
            .card.cursor-pointer.card-hover(ng-click="link('/concept')")
                .img-responsive(style="position: relative; background-image: url('/resources/images/main/wiz.jpg')")
                    svg(viewBox="0 0 16 9")
                        rect(width="16" height="12" style="fill:rgba(255,255,255,0);")

                .card-footer
                    h3.card-title.mb-1
                        a.text-reset(href="/concept" style="white-space: normal; word-break: break-all;") Concept
                    .text-muted Concept of WIZ
        
        .col-md-4.p-3
            .card.cursor-pointer.card-hover(ng-click="link('/style')")
                .img-responsive(style="position: relative; background-image: url('/resources/images/main/style.jpg')")
                    svg(viewBox="0 0 16 9")
                        rect(width="16" height="12" style="fill:rgba(255,255,255,0);")

                .card-footer
                    h3.card-title.mb-1
                        a.text-reset(href="/style" style="white-space: normal; word-break: break-all;") Styles
                    .text-muted CSS Styles

        .col-md-4.p-3
            .card.cursor-pointer.card-hover(ng-click="link('/tutorial')")
                .img-responsive(style="position: relative; background-image: url('/resources/images/main/tutorial.jpg')")
                    svg(viewBox="0 0 16 9")
                        rect(width="16" height="12" style="fill:rgba(255,255,255,0);")

                .card-footer
                    h3.card-title.mb-1
                        a.text-reset(href="/tutorial" style="white-space: normal; word-break: break-all;") Tutorial
                    .text-muted WIZ sample codes
