header.navbar.navbar-expand-md.navbar-primary
    .container-xl.p-0
        button.navbar-toggler(type='button' data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" )
            span.navbar-toggler-icon

        a.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.pr-md-3(href='/')
            div
                img(src='/resources/images/logo-black.png') 
            
        .navbar-expand-md
            - if menu.top
                .top-menu.text-right.if-desktop.d-flex
                    .ml-auto
                    - each item in menu.top
                        - if item.child == null
                            a.top-menu-item(href=item.url)
                                - if item.icon
                                    i(class=item.icon)
                                - if item.title
                                    span.nav-link-title= item.title
                        - else
                            .dropdown.top-menu-item
                                .btn.btn-round.btn-outline-primary.dropdown-toggle(data-bs-toggle="dropdown" aria-expanded="false")
                                    - if item.icon
                                        i(class=item.icon)
                                    - if item.title
                                        span= item.title
                                ul.dropdown-menu.dropdown-menu-arrow.dropdown-menu-lg-end
                                    - each child in item.child
                                        li
                                            a.dropdown-item(href=child.url target=child.target class=child.class)= child.title

            #navbar-menu.navbar.collapse.navbar-collapse
                .container-xl
                    ul.navbar-nav
                        - each item in menu.main
                            - if item.child == null
                                li.nav-item(class=item.class)
                                    a.nav-link(href=item.url target=item.target)
                                        span.nav-link-title= item.title

                            - else
                                li.nav-item.dropdown(class=item.class)
                                    a.nav-link.dropdown-toggle(role="button" data-bs-toggle="dropdown" aria-expanded="false")
                                        span.nav-link-title= item.title

                                    ul.dropdown-menu.dropdown-menu-arrow.dropdown-menu-lg-end(class=item.show)
                                        - each child in item.child
                                            li
                                                a.dropdown-item(href=child.url target=child.target class=child.class)= child.title
                        
                        - each item in menu.top
                            - if item.child == null
                                li.nav-item.if-mobile(class=item.class)
                                    a.nav-link(href=item.url target=item.target)
                                        span.nav-link-title= item.title

                            - else
                                li.nav-item.dropdown.if-mobile(class=item.class)
                                    a.nav-link.dropdown-toggle(role="button" data-bs-toggle="dropdown" aria-expanded="false")
                                        span.nav-link-title= item.title

                                    ul.dropdown-menu.dropdown-menu-arrow.dropdown-menu-lg-end(class=item.show)
                                        - each child in item.child
                                            li
                                                a.dropdown-item(href=child.url target=child.target class=child.class)= child.title

- if menu.sub
    .wiz-subnav
        .container-xl.text-center
            - each item in menu.sub
                a.wiz-subnav-item(href=item.url target=item.target class=item.class)= item.title